<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header>
    <nav>
        <span class="logo">umanProger</span>
        <a href="/about">Про нас</a>
        <a href="/blog"> Блог</a>

    </nav>
    
</header>
<main>
    <div class="container-left">
        <div class="title">
            <h1>Головна сторінка</h1>
        </div>
        
        <div class="data">
            <p>Отримані данні</p>
            <p>Name: <b><%= name %></b></p>
            <p>id: <b><%=  id %></b></p>
        </div>
    </div>

    <aside class="info">
        <div class="container-right">
            <h2>Інформація</h2>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Velit quidem tenetur 
                omnis odit reiciendis, eligendi modi 
                facilis impedit veritatis iusto architecto 
                vitae minus quo sequi cupiditate blanditiis 
                adipisci voluptatum! Enim.
            </p>
        </div>
    </aside>
    
</main>

<footer> umanProger<span>R</span></footer>

 
</body>
</html>
